@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply font-bold text-3xl text-warmGrey-600;
    font-family: 'Inkwell Serif',Verdana,sans-serif;
}

h2 {
    @apply font-bold text-warmGrey-600;
    font-weight: 700;
    font-size: 1.25rem;
    font-family: 'Inkwell Serif',Verdana,sans-serif;
}

h3 {
    @apply font-medium
}

th {
    @apply px-2;
}

td {
    @apply px-2;
}

fieldset {
    @apply px-3 border border-gray-400 pb-3;
}

label {
    font-weight: bold;
}

label input,select {
    padding-top: 0.375rem!important;
    padding-bottom: 0.375rem!important;
    font-size: 0.875rem;
    line-height: 1.25rem!important;
    display: block;
}

dialog {
    padding: 0;
    position: fixed;
}

legend {
    @apply px-1.5;
}
